body {
    font-family: 'Roboto', sans-serif;

}

a {
    text-decoration: none;
    color:coral;
}

#login {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.name input {
    color: #ffffff;
    border-radius: 15px;
    border: none;
    width: 250px;
    height: 40px;
    padding-left: 15px;
    background-color:coral;
    margin-bottom: 15px;
}

.cpf input{
    color: #ffffff;
    border-radius: 15px;
    border: none;
    width: 250px;
    height: 40px;
    padding-left: 15px;
    background-color: coral;
}

.email input {
    color: #ffffff;
    border-radius: 15px;
    border: none;
    width: 250px;
    height: 40px;
    padding-left: 15px;
    background-color:coral;
    margin-bottom: 15px;
  
}

.senha input {
    color: #ffffff;
    border-radius: 15px;
    border: none;
    width: 250px;
    height: 40px;
    padding-left: 15px;
    background-color:coral;
    margin-top: 15px;
    margin-bottom: 15px;
}

.confirmasenha input{
    color: #ffffff;
    border-radius: 15px;
    border: none;
    width: 250px;
    height: 40px;
    padding-left: 15px;
    background-color: coral;
}

.entrar input {
    cursor: pointer;
    width: 120px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(179, 112, 12);
    color: #e4e4e4;
}

input::placeholder {
    color: #ffffff;
}



.caixa {
    margin-top: 65px;
}

.caixa img {
    width: 135px;
}

input:focus {
    outline: none;
}